@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  height: 100vh;
  background: linear-gradient(to left, #85c4bf, #bb6464);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px red solid;
  width: 66%;
  height: 50%;
  text-align: center;
}
.container__input-arrows {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px red solid;
  align-items: center;
  height: 50%;
}
.container__p-highScore {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px red solid;
}
.input-button {
  display: flex;
  flex-direction: row;
  border: 1px red solid;
  justify-content: center;
  width: 60%;
  height: 35px;
}
.numberInput {
  width: 60%;
}
.arrow-up,
.tick,
.arrow-down,
.question-mark {
  transform: scale(5);
  border: none;
  outline: none;
}
.arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}
.againBtn {
  width: 30%;
  height: 33px;
}
